--
-- PostgreSQL database cluster dump
--

\restrict szjdRC0sdCla2oqdJSenmTj89fZ5Dn3j7pajc757IehZDcddiPMvSyiFO8xeaeP

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Roles
--

CREATE ROLE kec_admin;
ALTER ROLE kec_admin WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:Kjg9/pqxn8WyubTujd+pBg==$KzKNzrf9jWAyjHz80h3Dbubx7J9FqU3kffVQcsedcWA=:A9lMb98K9ldWxoKntIH5/XgfaLuZQqA6jnP/TAyVGAE=';

--
-- User Configurations
--








\unrestrict szjdRC0sdCla2oqdJSenmTj89fZ5Dn3j7pajc757IehZDcddiPMvSyiFO8xeaeP

--
-- Databases
--

--
-- Database "template1" dump
--

\connect template1

--
-- PostgreSQL database dump
--

\restrict xdcZZ84VtWfsmiwcTdh86Rrh5WRvWhmeBLsjUfM5NrRkFbtsvelbWU8bA8hpk7d

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict xdcZZ84VtWfsmiwcTdh86Rrh5WRvWhmeBLsjUfM5NrRkFbtsvelbWU8bA8hpk7d

--
-- Database "kec_routine" dump
--

--
-- PostgreSQL database dump
--

\restrict UBJtT1uQt4wvI4MbsdCCoY8kk4tRSFtqFBslrefSTtMZ5T0Wp973fX4r8tpRDyA

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: kec_routine; Type: DATABASE; Schema: -; Owner: kec_admin
--

CREATE DATABASE kec_routine WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE kec_routine OWNER TO kec_admin;

\unrestrict UBJtT1uQt4wvI4MbsdCCoY8kk4tRSFtqFBslrefSTtMZ5T0Wp973fX4r8tpRDyA
\connect kec_routine
\restrict UBJtT1uQt4wvI4MbsdCCoY8kk4tRSFtqFBslrefSTtMZ5T0Wp973fX4r8tpRDyA

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: calendar_events; Type: TABLE; Schema: public; Owner: kec_admin
--

CREATE TABLE public.calendar_events (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    start_date date NOT NULL,
    end_date date NOT NULL,
    start_time time without time zone,
    end_time time without time zone,
    event_type character varying(50) NOT NULL,
    class_id integer,
    teacher_id integer,
    location character varying(255),
    is_all_day boolean DEFAULT false,
    status character varying(20) DEFAULT 'scheduled'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by integer,
    deleted_at timestamp without time zone
);


ALTER TABLE public.calendar_events OWNER TO kec_admin;

--
-- Name: calendar_events_id_seq; Type: SEQUENCE; Schema: public; Owner: kec_admin
--

CREATE SEQUENCE public.calendar_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.calendar_events_id_seq OWNER TO kec_admin;

--
-- Name: calendar_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kec_admin
--

ALTER SEQUENCE public.calendar_events_id_seq OWNED BY public.calendar_events.id;


--
-- Name: class_period_overrides; Type: TABLE; Schema: public; Owner: kec_admin
--

CREATE TABLE public.class_period_overrides (
    id integer NOT NULL,
    class_id integer NOT NULL,
    period_id integer NOT NULL,
    custom_start_time time without time zone NOT NULL,
    custom_end_time time without time zone NOT NULL,
    reason text,
    effective_from date,
    effective_to date,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.class_period_overrides OWNER TO kec_admin;

--
-- Name: TABLE class_period_overrides; Type: COMMENT; Schema: public; Owner: kec_admin
--

COMMENT ON TABLE public.class_period_overrides IS 'Custom period timings for specific classes when they differ from shift defaults';


--
-- Name: class_period_overrides_id_seq; Type: SEQUENCE; Schema: public; Owner: kec_admin
--

CREATE SEQUENCE public.class_period_overrides_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.class_period_overrides_id_seq OWNER TO kec_admin;

--
-- Name: class_period_overrides_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kec_admin
--

ALTER SEQUENCE public.class_period_overrides_id_seq OWNED BY public.class_period_overrides.id;


--
-- Name: class_routine_entries; Type: TABLE; Schema: public; Owner: kec_admin
--

CREATE TABLE public.class_routine_entries (
    id integer NOT NULL,
    class_id integer,
    day_id integer,
    period_id integer,
    subject_id integer,
    is_lab boolean,
    is_half_lab boolean,
    num_periods integer,
    lead_teacher_id integer,
    assist_teacher_1_id integer,
    assist_teacher_2_id integer,
    assist_teacher_3_id integer,
    "group" character varying,
    lab_room character varying,
    lab_group_id character varying
);


ALTER TABLE public.class_routine_entries OWNER TO kec_admin;

--
-- Name: class_routine_entries_id_seq; Type: SEQUENCE; Schema: public; Owner: kec_admin
--

CREATE SEQUENCE public.class_routine_entries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.class_routine_entries_id_seq OWNER TO kec_admin;

--
-- Name: class_routine_entries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kec_admin
--

ALTER SEQUENCE public.class_routine_entries_id_seq OWNED BY public.class_routine_entries.id;


--
-- Name: class_routines; Type: TABLE; Schema: public; Owner: kec_admin
--

CREATE TABLE public.class_routines (
    id integer NOT NULL,
    class_id integer NOT NULL,
    day_id integer NOT NULL,
    period_id integer NOT NULL,
    semester_subject_id integer,
    teacher_id integer,
    room_id integer,
    is_active boolean DEFAULT true,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone
);


ALTER TABLE public.class_routines OWNER TO kec_admin;

--
-- Name: class_routines_id_seq; Type: SEQUENCE; Schema: public; Owner: kec_admin
--

CREATE SEQUENCE public.class_routines_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.class_routines_id_seq OWNER TO kec_admin;

--
-- Name: class_routines_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kec_admin
--

ALTER SEQUENCE public.class_routines_id_seq OWNED BY public.class_routines.id;


--
-- Name: classes; Type: TABLE; Schema: public; Owner: kec_admin
--

CREATE TABLE public.classes (
    id integer NOT NULL,
    semester_id integer NOT NULL,
    shift_id integer,
    name character varying(200) NOT NULL,
    section character varying(50),
    student_capacity integer DEFAULT 60,
    current_strength integer DEFAULT 0,
    is_active boolean DEFAULT true,
    academic_year character varying(20),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone,
    department_id integer,
    room_no character varying(50),
    effective_date date
);


ALTER TABLE public.classes OWNER TO kec_admin;

--
-- Name: TABLE classes; Type: COMMENT; Schema: public; Owner: kec_admin
--

COMMENT ON TABLE public.classes IS 'Classes are now assigned to shifts, inheriting the shift''s period structure';


--
-- Name: classes_id_seq; Type: SEQUENCE; Schema: public; Owner: kec_admin
--

CREATE SEQUENCE public.classes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.classes_id_seq OWNER TO kec_admin;

--
-- Name: classes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kec_admin
--

ALTER SEQUENCE public.classes_id_seq OWNED BY public.classes.id;


--
-- Name: days; Type: TABLE; Schema: public; Owner: kec_admin
--

CREATE TABLE public.days (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    day_number integer NOT NULL,
    is_working_day boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.days OWNER TO kec_admin;

--
-- Name: days_id_seq; Type: SEQUENCE; Schema: public; Owner: kec_admin
--

CREATE SEQUENCE public.days_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.days_id_seq OWNER TO kec_admin;

--
-- Name: days_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kec_admin
--

ALTER SEQUENCE public.days_id_seq OWNED BY public.days.id;


--
-- Name: departments; Type: TABLE; Schema: public; Owner: kec_admin
--

CREATE TABLE public.departments (
    id integer NOT NULL,
    name character varying(200) NOT NULL,
    code character varying(50),
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone
);


ALTER TABLE public.departments OWNER TO kec_admin;

--
-- Name: departments_id_seq; Type: SEQUENCE; Schema: public; Owner: kec_admin
--

CREATE SEQUENCE public.departments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.departments_id_seq OWNER TO kec_admin;

--
-- Name: departments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kec_admin
--

ALTER SEQUENCE public.departments_id_seq OWNED BY public.departments.id;


--
-- Name: in_app_notifications; Type: TABLE; Schema: public; Owner: kec_admin
--

CREATE TABLE public.in_app_notifications (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    body text,
    url character varying(500),
    tag character varying(100),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.in_app_notifications OWNER TO kec_admin;

--
-- Name: in_app_notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: kec_admin
--

CREATE SEQUENCE public.in_app_notifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.in_app_notifications_id_seq OWNER TO kec_admin;

--
-- Name: in_app_notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kec_admin
--

ALTER SEQUENCE public.in_app_notifications_id_seq OWNED BY public.in_app_notifications.id;


--
-- Name: periods; Type: TABLE; Schema: public; Owner: kec_admin
--

CREATE TABLE public.periods (
    id integer NOT NULL,
    shift_id integer NOT NULL,
    period_number integer NOT NULL,
    name character varying(100),
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    type character varying(20) NOT NULL,
    is_teaching_period boolean DEFAULT true,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT periods_type_check CHECK (((type)::text = ANY ((ARRAY['teaching'::character varying, 'break'::character varying, 'lunch'::character varying])::text[])))
);


ALTER TABLE public.periods OWNER TO kec_admin;

--
-- Name: TABLE periods; Type: COMMENT; Schema: public; Owner: kec_admin
--

COMMENT ON TABLE public.periods IS 'Auto-generated periods based on shift configuration';


--
-- Name: periods_id_seq; Type: SEQUENCE; Schema: public; Owner: kec_admin
--

CREATE SEQUENCE public.periods_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.periods_id_seq OWNER TO kec_admin;

--
-- Name: periods_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kec_admin
--

ALTER SEQUENCE public.periods_id_seq OWNED BY public.periods.id;


--
-- Name: position_rates; Type: TABLE; Schema: public; Owner: kec_admin
--

CREATE TABLE public.position_rates (
    id integer NOT NULL,
    "position" character varying NOT NULL,
    rate double precision NOT NULL
);


ALTER TABLE public.position_rates OWNER TO kec_admin;

--
-- Name: position_rates_id_seq; Type: SEQUENCE; Schema: public; Owner: kec_admin
--

CREATE SEQUENCE public.position_rates_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.position_rates_id_seq OWNER TO kec_admin;

--
-- Name: position_rates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kec_admin
--

ALTER SEQUENCE public.position_rates_id_seq OWNED BY public.position_rates.id;


--
-- Name: programmes; Type: TABLE; Schema: public; Owner: kec_admin
--

CREATE TABLE public.programmes (
    id integer NOT NULL,
    department_id integer,
    name character varying(200) NOT NULL,
    code character varying(50),
    duration_years integer,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone
);


ALTER TABLE public.programmes OWNER TO kec_admin;

--
-- Name: programmes_id_seq; Type: SEQUENCE; Schema: public; Owner: kec_admin
--

CREATE SEQUENCE public.programmes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.programmes_id_seq OWNER TO kec_admin;

--
-- Name: programmes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kec_admin
--

ALTER SEQUENCE public.programmes_id_seq OWNED BY public.programmes.id;


--
-- Name: push_subscriptions; Type: TABLE; Schema: public; Owner: kec_admin
--

CREATE TABLE public.push_subscriptions (
    id integer NOT NULL,
    user_id integer,
    endpoint text NOT NULL,
    p256dh text NOT NULL,
    auth character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.push_subscriptions OWNER TO kec_admin;

--
-- Name: push_subscriptions_id_seq; Type: SEQUENCE; Schema: public; Owner: kec_admin
--

CREATE SEQUENCE public.push_subscriptions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.push_subscriptions_id_seq OWNER TO kec_admin;

--
-- Name: push_subscriptions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kec_admin
--

ALTER SEQUENCE public.push_subscriptions_id_seq OWNED BY public.push_subscriptions.id;


--
-- Name: rooms; Type: TABLE; Schema: public; Owner: kec_admin
--

CREATE TABLE public.rooms (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    room_number character varying(50),
    building character varying(100),
    capacity integer,
    type character varying(50),
    facilities text[],
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone,
    description text,
    floor character varying(50),
    room_type character varying(50),
    is_available boolean DEFAULT true
);


ALTER TABLE public.rooms OWNER TO kec_admin;

--
-- Name: rooms_id_seq; Type: SEQUENCE; Schema: public; Owner: kec_admin
--

CREATE SEQUENCE public.rooms_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.rooms_id_seq OWNER TO kec_admin;

--
-- Name: rooms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kec_admin
--

ALTER SEQUENCE public.rooms_id_seq OWNED BY public.rooms.id;


--
-- Name: semester_subjects; Type: TABLE; Schema: public; Owner: kec_admin
--

CREATE TABLE public.semester_subjects (
    id integer NOT NULL,
    semester_id integer NOT NULL,
    subject_id integer NOT NULL,
    periods_per_week integer DEFAULT 3,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone
);


ALTER TABLE public.semester_subjects OWNER TO kec_admin;

--
-- Name: semester_subjects_id_seq; Type: SEQUENCE; Schema: public; Owner: kec_admin
--

CREATE SEQUENCE public.semester_subjects_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.semester_subjects_id_seq OWNER TO kec_admin;

--
-- Name: semester_subjects_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kec_admin
--

ALTER SEQUENCE public.semester_subjects_id_seq OWNED BY public.semester_subjects.id;


--
-- Name: semesters; Type: TABLE; Schema: public; Owner: kec_admin
--

CREATE TABLE public.semesters (
    id integer NOT NULL,
    programme_id integer NOT NULL,
    name character varying(100) NOT NULL,
    semester_number integer,
    description text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone,
    academic_year character varying(20),
    start_date date,
    end_date date,
    is_active boolean DEFAULT true
);


ALTER TABLE public.semesters OWNER TO kec_admin;

--
-- Name: semesters_id_seq; Type: SEQUENCE; Schema: public; Owner: kec_admin
--

CREATE SEQUENCE public.semesters_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.semesters_id_seq OWNER TO kec_admin;

--
-- Name: semesters_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kec_admin
--

ALTER SEQUENCE public.semesters_id_seq OWNED BY public.semesters.id;


--
-- Name: shifts; Type: TABLE; Schema: public; Owner: kec_admin
--

CREATE TABLE public.shifts (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    working_days integer[] DEFAULT '{0,1,2,3,4,5}'::integer[] NOT NULL,
    period_duration integer DEFAULT 50 NOT NULL,
    break_after_periods integer[] DEFAULT '{2,4}'::integer[],
    break_durations integer[] DEFAULT '{15,60}'::integer[],
    is_active boolean DEFAULT true,
    is_default boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone
);


ALTER TABLE public.shifts OWNER TO kec_admin;

--
-- Name: TABLE shifts; Type: COMMENT; Schema: public; Owner: kec_admin
--

COMMENT ON TABLE public.shifts IS 'Different shifts (Morning, Day, Evening) with their timing and period configuration';


--
-- Name: shifts_id_seq; Type: SEQUENCE; Schema: public; Owner: kec_admin
--

CREATE SEQUENCE public.shifts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.shifts_id_seq OWNER TO kec_admin;

--
-- Name: shifts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kec_admin
--

ALTER SEQUENCE public.shifts_id_seq OWNED BY public.shifts.id;


--
-- Name: subjects; Type: TABLE; Schema: public; Owner: kec_admin
--

CREATE TABLE public.subjects (
    id integer NOT NULL,
    department_id integer,
    name character varying(200) NOT NULL,
    code character varying(50),
    credit_hours integer,
    type character varying(50),
    description text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone,
    is_lab boolean DEFAULT false
);


ALTER TABLE public.subjects OWNER TO kec_admin;

--
-- Name: subjects_id_seq; Type: SEQUENCE; Schema: public; Owner: kec_admin
--

CREATE SEQUENCE public.subjects_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.subjects_id_seq OWNER TO kec_admin;

--
-- Name: subjects_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kec_admin
--

ALTER SEQUENCE public.subjects_id_seq OWNED BY public.subjects.id;


--
-- Name: teacher_effective_loads; Type: TABLE; Schema: public; Owner: kec_admin
--

CREATE TABLE public.teacher_effective_loads (
    id integer NOT NULL,
    teacher_id integer NOT NULL,
    effective_load double precision NOT NULL,
    "position" character varying
);


ALTER TABLE public.teacher_effective_loads OWNER TO kec_admin;

--
-- Name: teacher_effective_loads_id_seq; Type: SEQUENCE; Schema: public; Owner: kec_admin
--

CREATE SEQUENCE public.teacher_effective_loads_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.teacher_effective_loads_id_seq OWNER TO kec_admin;

--
-- Name: teacher_effective_loads_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kec_admin
--

ALTER SEQUENCE public.teacher_effective_loads_id_seq OWNED BY public.teacher_effective_loads.id;


--
-- Name: teacher_subjects; Type: TABLE; Schema: public; Owner: kec_admin
--

CREATE TABLE public.teacher_subjects (
    id integer NOT NULL,
    teacher_id integer NOT NULL,
    subject_id integer NOT NULL,
    proficiency_level character varying(50) DEFAULT 'expert'::character varying,
    preferred boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.teacher_subjects OWNER TO kec_admin;

--
-- Name: teacher_subjects_id_seq; Type: SEQUENCE; Schema: public; Owner: kec_admin
--

CREATE SEQUENCE public.teacher_subjects_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.teacher_subjects_id_seq OWNER TO kec_admin;

--
-- Name: teacher_subjects_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kec_admin
--

ALTER SEQUENCE public.teacher_subjects_id_seq OWNED BY public.teacher_subjects.id;


--
-- Name: teachers; Type: TABLE; Schema: public; Owner: kec_admin
--

CREATE TABLE public.teachers (
    id integer NOT NULL,
    department_id integer,
    user_id integer,
    name character varying(200) NOT NULL,
    email character varying(255),
    phone character varying(20),
    employee_id character varying(50),
    designation character varying(100),
    qualification text,
    max_periods_per_week integer DEFAULT 30,
    unavailable_days integer[] DEFAULT '{}'::integer[],
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone,
    abbreviation character varying(50),
    employment_type character varying(20) DEFAULT 'full_time'::character varying
);


ALTER TABLE public.teachers OWNER TO kec_admin;

--
-- Name: teachers_id_seq; Type: SEQUENCE; Schema: public; Owner: kec_admin
--

CREATE SEQUENCE public.teachers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.teachers_id_seq OWNER TO kec_admin;

--
-- Name: teachers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kec_admin
--

ALTER SEQUENCE public.teachers_id_seq OWNED BY public.teachers.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: kec_admin
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(200),
    phone character varying(20),
    role character varying(50) DEFAULT 'viewer'::character varying,
    permissions jsonb DEFAULT '[]'::jsonb,
    is_active boolean DEFAULT true,
    last_login timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp without time zone,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['admin'::character varying, 'viewer'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO kec_admin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: kec_admin
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO kec_admin;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: kec_admin
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: calendar_events id; Type: DEFAULT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.calendar_events ALTER COLUMN id SET DEFAULT nextval('public.calendar_events_id_seq'::regclass);


--
-- Name: class_period_overrides id; Type: DEFAULT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.class_period_overrides ALTER COLUMN id SET DEFAULT nextval('public.class_period_overrides_id_seq'::regclass);


--
-- Name: class_routine_entries id; Type: DEFAULT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.class_routine_entries ALTER COLUMN id SET DEFAULT nextval('public.class_routine_entries_id_seq'::regclass);


--
-- Name: class_routines id; Type: DEFAULT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.class_routines ALTER COLUMN id SET DEFAULT nextval('public.class_routines_id_seq'::regclass);


--
-- Name: classes id; Type: DEFAULT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.classes ALTER COLUMN id SET DEFAULT nextval('public.classes_id_seq'::regclass);


--
-- Name: days id; Type: DEFAULT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.days ALTER COLUMN id SET DEFAULT nextval('public.days_id_seq'::regclass);


--
-- Name: departments id; Type: DEFAULT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.departments ALTER COLUMN id SET DEFAULT nextval('public.departments_id_seq'::regclass);


--
-- Name: in_app_notifications id; Type: DEFAULT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.in_app_notifications ALTER COLUMN id SET DEFAULT nextval('public.in_app_notifications_id_seq'::regclass);


--
-- Name: periods id; Type: DEFAULT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.periods ALTER COLUMN id SET DEFAULT nextval('public.periods_id_seq'::regclass);


--
-- Name: position_rates id; Type: DEFAULT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.position_rates ALTER COLUMN id SET DEFAULT nextval('public.position_rates_id_seq'::regclass);


--
-- Name: programmes id; Type: DEFAULT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.programmes ALTER COLUMN id SET DEFAULT nextval('public.programmes_id_seq'::regclass);


--
-- Name: push_subscriptions id; Type: DEFAULT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.push_subscriptions ALTER COLUMN id SET DEFAULT nextval('public.push_subscriptions_id_seq'::regclass);


--
-- Name: rooms id; Type: DEFAULT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.rooms ALTER COLUMN id SET DEFAULT nextval('public.rooms_id_seq'::regclass);


--
-- Name: semester_subjects id; Type: DEFAULT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.semester_subjects ALTER COLUMN id SET DEFAULT nextval('public.semester_subjects_id_seq'::regclass);


--
-- Name: semesters id; Type: DEFAULT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.semesters ALTER COLUMN id SET DEFAULT nextval('public.semesters_id_seq'::regclass);


--
-- Name: shifts id; Type: DEFAULT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.shifts ALTER COLUMN id SET DEFAULT nextval('public.shifts_id_seq'::regclass);


--
-- Name: subjects id; Type: DEFAULT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.subjects ALTER COLUMN id SET DEFAULT nextval('public.subjects_id_seq'::regclass);


--
-- Name: teacher_effective_loads id; Type: DEFAULT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.teacher_effective_loads ALTER COLUMN id SET DEFAULT nextval('public.teacher_effective_loads_id_seq'::regclass);


--
-- Name: teacher_subjects id; Type: DEFAULT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.teacher_subjects ALTER COLUMN id SET DEFAULT nextval('public.teacher_subjects_id_seq'::regclass);


--
-- Name: teachers id; Type: DEFAULT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.teachers ALTER COLUMN id SET DEFAULT nextval('public.teachers_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: calendar_events; Type: TABLE DATA; Schema: public; Owner: kec_admin
--



--
-- Data for Name: class_period_overrides; Type: TABLE DATA; Schema: public; Owner: kec_admin
--

COPY public.class_period_overrides (id, class_id, period_id, custom_start_time, custom_end_time, reason, effective_from, effective_to, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: class_routine_entries; Type: TABLE DATA; Schema: public; Owner: kec_admin
--



--
-- Data for Name: class_routines; Type: TABLE DATA; Schema: public; Owner: kec_admin
--

COPY public.class_routines (id, class_id, day_id, period_id, semester_subject_id, teacher_id, room_id, is_active, notes, created_at, updated_at, deleted_at) FROM stdin;
\.


--
-- Data for Name: classes; Type: TABLE DATA; Schema: public; Owner: kec_admin
--



--
-- Data for Name: days; Type: TABLE DATA; Schema: public; Owner: kec_admin
--

COPY public.days (id, name, day_number, is_working_day, created_at) FROM stdin;
8	Sunday	0	t	2026-04-15 06:04:43.071138
9	Monday	1	t	2026-04-15 06:04:43.071141
10	Tuesday	2	t	2026-04-15 06:04:43.071144
11	Wednesday	3	t	2026-04-15 06:04:43.071144
12	Thursday	4	t	2026-04-15 06:04:43.071144
\.


--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: kec_admin
--

COPY public.departments (id, name, code, description, created_at, updated_at, deleted_at) FROM stdin;
1	Computer and Electronics Engineering Department	DoCE	\N	2026-04-15 04:57:10.052195	2026-04-15 04:57:10.052203	\N
3	Department of Civil Engineering	BCE	\N	2026-04-15 06:07:44.044716	2026-04-15 06:07:44.044721	\N
2	Engineering Science & Humanities Department	DESH	\N	2026-04-15 05:55:30.96582	2026-04-16 04:06:05.848267	\N
\.


--
-- Data for Name: in_app_notifications; Type: TABLE DATA; Schema: public; Owner: kec_admin
--



--
-- Data for Name: periods; Type: TABLE DATA; Schema: public; Owner: kec_admin
--



--
-- Data for Name: position_rates; Type: TABLE DATA; Schema: public; Owner: kec_admin
--

COPY public.position_rates (id, "position", rate) FROM stdin;
1	Part-Time Lecturer 1	750
\.


--
-- Data for Name: programmes; Type: TABLE DATA; Schema: public; Owner: kec_admin
--

COPY public.programmes (id, department_id, name, code, duration_years, description, created_at, updated_at, deleted_at) FROM stdin;
1	1	Computer Engineering	BCT	\N	\N	2026-04-15 04:57:28.713009	2026-04-15 04:57:28.713012	\N
2	3	Civil Engineering	BCE	\N	\N	2026-04-15 06:07:59.703979	2026-04-15 06:07:59.703983	\N
3	1	Electronics Information and Communication Engineering	BEIT	\N	\N	2026-04-15 06:08:46.793077	2026-04-15 06:08:46.793081	\N
\.


--
-- Data for Name: push_subscriptions; Type: TABLE DATA; Schema: public; Owner: kec_admin
--



--
-- Data for Name: rooms; Type: TABLE DATA; Schema: public; Owner: kec_admin
--



--
-- Data for Name: semester_subjects; Type: TABLE DATA; Schema: public; Owner: kec_admin
--



--
-- Data for Name: semesters; Type: TABLE DATA; Schema: public; Owner: kec_admin
--



--
-- Data for Name: shifts; Type: TABLE DATA; Schema: public; Owner: kec_admin
--

COPY public.shifts (id, name, description, start_time, end_time, working_days, period_duration, break_after_periods, break_durations, is_active, is_default, created_at, updated_at, deleted_at) FROM stdin;
1	KEC		07:00:00	15:20:00	{0,1,2,3,4}	50	{}	{}	t	f	2026-04-15 05:09:43.07529	2026-04-15 05:54:49.432154	2026-04-15 05:54:49.430403
2	shift1		07:00:00	15:20:00	{0,1,2,3,4}	50	{}	{}	t	t	2026-04-15 05:58:03.505789	2026-04-15 06:03:57.549358	2026-04-15 06:03:57.546589
3	shitf1		07:00:00	15:20:00	{0,1,2,3,4}	50	{}	{}	t	t	2026-04-15 06:04:43.054516	2026-04-15 06:04:43.05452	\N
\.


--
-- Data for Name: subjects; Type: TABLE DATA; Schema: public; Owner: kec_admin
--



--
-- Data for Name: teacher_effective_loads; Type: TABLE DATA; Schema: public; Owner: kec_admin
--



--
-- Data for Name: teacher_subjects; Type: TABLE DATA; Schema: public; Owner: kec_admin
--



--
-- Data for Name: teachers; Type: TABLE DATA; Schema: public; Owner: kec_admin
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: kec_admin
--



--
-- Name: calendar_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kec_admin
--

SELECT pg_catalog.setval('public.calendar_events_id_seq', 6, true);


--
-- Name: class_period_overrides_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kec_admin
--

SELECT pg_catalog.setval('public.class_period_overrides_id_seq', 1, false);


--
-- Name: class_routine_entries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kec_admin
--

SELECT pg_catalog.setval('public.class_routine_entries_id_seq', 33540, true);


--
-- Name: class_routines_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kec_admin
--

SELECT pg_catalog.setval('public.class_routines_id_seq', 1, false);


--
-- Name: classes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kec_admin
--

SELECT pg_catalog.setval('public.classes_id_seq', 18, true);


--
-- Name: days_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kec_admin
--

SELECT pg_catalog.setval('public.days_id_seq', 12, true);


--
-- Name: departments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kec_admin
--

SELECT pg_catalog.setval('public.departments_id_seq', 3, true);


--
-- Name: in_app_notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kec_admin
--

SELECT pg_catalog.setval('public.in_app_notifications_id_seq', 309, true);


--
-- Name: periods_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kec_admin
--

SELECT pg_catalog.setval('public.periods_id_seq', 30, true);


--
-- Name: position_rates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kec_admin
--

SELECT pg_catalog.setval('public.position_rates_id_seq', 1, true);


--
-- Name: programmes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kec_admin
--

SELECT pg_catalog.setval('public.programmes_id_seq', 3, true);


--
-- Name: push_subscriptions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kec_admin
--

SELECT pg_catalog.setval('public.push_subscriptions_id_seq', 3, true);


--
-- Name: rooms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kec_admin
--

SELECT pg_catalog.setval('public.rooms_id_seq', 50, true);


--
-- Name: semester_subjects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kec_admin
--

SELECT pg_catalog.setval('public.semester_subjects_id_seq', 68, true);


--
-- Name: semesters_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kec_admin
--

SELECT pg_catalog.setval('public.semesters_id_seq', 11, true);


--
-- Name: shifts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kec_admin
--

SELECT pg_catalog.setval('public.shifts_id_seq', 3, true);


--
-- Name: subjects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kec_admin
--

SELECT pg_catalog.setval('public.subjects_id_seq', 57, true);


--
-- Name: teacher_effective_loads_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kec_admin
--

SELECT pg_catalog.setval('public.teacher_effective_loads_id_seq', 65, true);


--
-- Name: teacher_subjects_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kec_admin
--

SELECT pg_catalog.setval('public.teacher_subjects_id_seq', 80, true);


--
-- Name: teachers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kec_admin
--

SELECT pg_catalog.setval('public.teachers_id_seq', 75, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: kec_admin
--

SELECT pg_catalog.setval('public.users_id_seq', 18, true);


--
-- Name: calendar_events calendar_events_pkey; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.calendar_events
    ADD CONSTRAINT calendar_events_pkey PRIMARY KEY (id);


--
-- Name: class_period_overrides class_period_overrides_pkey; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.class_period_overrides
    ADD CONSTRAINT class_period_overrides_pkey PRIMARY KEY (id);


--
-- Name: class_routine_entries class_routine_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.class_routine_entries
    ADD CONSTRAINT class_routine_entries_pkey PRIMARY KEY (id);


--
-- Name: class_routines class_routines_pkey; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.class_routines
    ADD CONSTRAINT class_routines_pkey PRIMARY KEY (id);


--
-- Name: classes classes_pkey; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_pkey PRIMARY KEY (id);


--
-- Name: days days_day_number_key; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.days
    ADD CONSTRAINT days_day_number_key UNIQUE (day_number);


--
-- Name: days days_pkey; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.days
    ADD CONSTRAINT days_pkey PRIMARY KEY (id);


--
-- Name: departments departments_name_key; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_name_key UNIQUE (name);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: in_app_notifications in_app_notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.in_app_notifications
    ADD CONSTRAINT in_app_notifications_pkey PRIMARY KEY (id);


--
-- Name: periods periods_pkey; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.periods
    ADD CONSTRAINT periods_pkey PRIMARY KEY (id);


--
-- Name: position_rates position_rates_pkey; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.position_rates
    ADD CONSTRAINT position_rates_pkey PRIMARY KEY (id);


--
-- Name: position_rates position_rates_position_key; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.position_rates
    ADD CONSTRAINT position_rates_position_key UNIQUE ("position");


--
-- Name: programmes programmes_pkey; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.programmes
    ADD CONSTRAINT programmes_pkey PRIMARY KEY (id);


--
-- Name: push_subscriptions push_subscriptions_pkey; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.push_subscriptions
    ADD CONSTRAINT push_subscriptions_pkey PRIMARY KEY (id);


--
-- Name: rooms rooms_name_key; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_name_key UNIQUE (name);


--
-- Name: rooms rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_pkey PRIMARY KEY (id);


--
-- Name: semester_subjects semester_subjects_pkey; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.semester_subjects
    ADD CONSTRAINT semester_subjects_pkey PRIMARY KEY (id);


--
-- Name: semesters semesters_pkey; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.semesters
    ADD CONSTRAINT semesters_pkey PRIMARY KEY (id);


--
-- Name: shifts shifts_pkey; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.shifts
    ADD CONSTRAINT shifts_pkey PRIMARY KEY (id);


--
-- Name: subjects subjects_code_key; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_code_key UNIQUE (code);


--
-- Name: subjects subjects_pkey; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_pkey PRIMARY KEY (id);


--
-- Name: teacher_effective_loads teacher_effective_loads_pkey; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.teacher_effective_loads
    ADD CONSTRAINT teacher_effective_loads_pkey PRIMARY KEY (id);


--
-- Name: teacher_effective_loads teacher_effective_loads_teacher_id_key; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.teacher_effective_loads
    ADD CONSTRAINT teacher_effective_loads_teacher_id_key UNIQUE (teacher_id);


--
-- Name: teacher_subjects teacher_subjects_pkey; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.teacher_subjects
    ADD CONSTRAINT teacher_subjects_pkey PRIMARY KEY (id);


--
-- Name: teachers teachers_email_key; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_email_key UNIQUE (email);


--
-- Name: teachers teachers_employee_id_key; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_employee_id_key UNIQUE (employee_id);


--
-- Name: teachers teachers_pkey; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_pkey PRIMARY KEY (id);


--
-- Name: class_routines unique_class_day_period; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.class_routines
    ADD CONSTRAINT unique_class_day_period UNIQUE (class_id, day_id, period_id);


--
-- Name: class_period_overrides unique_class_period_override; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.class_period_overrides
    ADD CONSTRAINT unique_class_period_override UNIQUE (class_id, period_id);


--
-- Name: periods unique_period_per_shift; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.periods
    ADD CONSTRAINT unique_period_per_shift UNIQUE (shift_id, period_number);


--
-- Name: semester_subjects unique_semester_subject; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.semester_subjects
    ADD CONSTRAINT unique_semester_subject UNIQUE (semester_id, subject_id);


--
-- Name: teacher_subjects unique_teacher_subject; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.teacher_subjects
    ADD CONSTRAINT unique_teacher_subject UNIQUE (teacher_id, subject_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_calendar_events_dates; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE INDEX idx_calendar_events_dates ON public.calendar_events USING btree (start_date, end_date);


--
-- Name: idx_calendar_events_type; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE INDEX idx_calendar_events_type ON public.calendar_events USING btree (event_type);


--
-- Name: idx_class_routines_class; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE INDEX idx_class_routines_class ON public.class_routines USING btree (class_id);


--
-- Name: idx_class_routines_day; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE INDEX idx_class_routines_day ON public.class_routines USING btree (day_id);


--
-- Name: idx_class_routines_teacher; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE INDEX idx_class_routines_teacher ON public.class_routines USING btree (teacher_id);


--
-- Name: idx_classes_semester; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE INDEX idx_classes_semester ON public.classes USING btree (semester_id);


--
-- Name: idx_classes_shift; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE INDEX idx_classes_shift ON public.classes USING btree (shift_id);


--
-- Name: idx_periods_shift; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE INDEX idx_periods_shift ON public.periods USING btree (shift_id);


--
-- Name: idx_periods_teaching; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE INDEX idx_periods_teaching ON public.periods USING btree (is_teaching_period);


--
-- Name: idx_shifts_active; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE INDEX idx_shifts_active ON public.shifts USING btree (is_active) WHERE (deleted_at IS NULL);


--
-- Name: idx_shifts_default; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE UNIQUE INDEX idx_shifts_default ON public.shifts USING btree (is_default) WHERE ((is_default = true) AND (deleted_at IS NULL));


--
-- Name: idx_teachers_department; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE INDEX idx_teachers_department ON public.teachers USING btree (department_id);


--
-- Name: idx_teachers_email; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE INDEX idx_teachers_email ON public.teachers USING btree (email);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: ix_class_routine_entries_id; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE INDEX ix_class_routine_entries_id ON public.class_routine_entries USING btree (id);


--
-- Name: ix_cre_class_day_period; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE INDEX ix_cre_class_day_period ON public.class_routine_entries USING btree (class_id, day_id, period_id);


--
-- Name: ix_cre_class_subject; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE INDEX ix_cre_class_subject ON public.class_routine_entries USING btree (class_id, subject_id);


--
-- Name: ix_cre_teacher_day; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE INDEX ix_cre_teacher_day ON public.class_routine_entries USING btree (lead_teacher_id, day_id);


--
-- Name: ix_in_app_notifications_created_at; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE INDEX ix_in_app_notifications_created_at ON public.in_app_notifications USING btree (created_at);


--
-- Name: ix_in_app_notifications_id; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE INDEX ix_in_app_notifications_id ON public.in_app_notifications USING btree (id);


--
-- Name: ix_position_rates_id; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE INDEX ix_position_rates_id ON public.position_rates USING btree (id);


--
-- Name: ix_push_subscriptions_endpoint; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE UNIQUE INDEX ix_push_subscriptions_endpoint ON public.push_subscriptions USING btree (endpoint);


--
-- Name: ix_push_subscriptions_id; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE INDEX ix_push_subscriptions_id ON public.push_subscriptions USING btree (id);


--
-- Name: ix_teacher_effective_loads_id; Type: INDEX; Schema: public; Owner: kec_admin
--

CREATE INDEX ix_teacher_effective_loads_id ON public.teacher_effective_loads USING btree (id);


--
-- Name: calendar_events calendar_events_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.calendar_events
    ADD CONSTRAINT calendar_events_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id) ON DELETE CASCADE;


--
-- Name: calendar_events calendar_events_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.calendar_events
    ADD CONSTRAINT calendar_events_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.teachers(id) ON DELETE SET NULL;


--
-- Name: class_period_overrides class_period_overrides_period_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.class_period_overrides
    ADD CONSTRAINT class_period_overrides_period_id_fkey FOREIGN KEY (period_id) REFERENCES public.periods(id) ON DELETE CASCADE;


--
-- Name: class_routine_entries class_routine_entries_assist_teacher_1_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.class_routine_entries
    ADD CONSTRAINT class_routine_entries_assist_teacher_1_id_fkey FOREIGN KEY (assist_teacher_1_id) REFERENCES public.teachers(id) ON DELETE SET NULL;


--
-- Name: class_routine_entries class_routine_entries_assist_teacher_2_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.class_routine_entries
    ADD CONSTRAINT class_routine_entries_assist_teacher_2_id_fkey FOREIGN KEY (assist_teacher_2_id) REFERENCES public.teachers(id) ON DELETE SET NULL;


--
-- Name: class_routine_entries class_routine_entries_assist_teacher_3_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.class_routine_entries
    ADD CONSTRAINT class_routine_entries_assist_teacher_3_id_fkey FOREIGN KEY (assist_teacher_3_id) REFERENCES public.teachers(id) ON DELETE SET NULL;


--
-- Name: class_routine_entries class_routine_entries_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.class_routine_entries
    ADD CONSTRAINT class_routine_entries_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id);


--
-- Name: class_routine_entries class_routine_entries_day_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.class_routine_entries
    ADD CONSTRAINT class_routine_entries_day_id_fkey FOREIGN KEY (day_id) REFERENCES public.days(id);


--
-- Name: class_routine_entries class_routine_entries_lead_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.class_routine_entries
    ADD CONSTRAINT class_routine_entries_lead_teacher_id_fkey FOREIGN KEY (lead_teacher_id) REFERENCES public.teachers(id) ON DELETE SET NULL;


--
-- Name: class_routine_entries class_routine_entries_period_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.class_routine_entries
    ADD CONSTRAINT class_routine_entries_period_id_fkey FOREIGN KEY (period_id) REFERENCES public.periods(id);


--
-- Name: class_routine_entries class_routine_entries_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.class_routine_entries
    ADD CONSTRAINT class_routine_entries_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subjects(id);


--
-- Name: class_routines class_routines_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.class_routines
    ADD CONSTRAINT class_routines_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id) ON DELETE CASCADE;


--
-- Name: class_routines class_routines_day_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.class_routines
    ADD CONSTRAINT class_routines_day_id_fkey FOREIGN KEY (day_id) REFERENCES public.days(id) ON DELETE CASCADE;


--
-- Name: class_routines class_routines_period_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.class_routines
    ADD CONSTRAINT class_routines_period_id_fkey FOREIGN KEY (period_id) REFERENCES public.periods(id) ON DELETE CASCADE;


--
-- Name: class_routines class_routines_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.class_routines
    ADD CONSTRAINT class_routines_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.rooms(id) ON DELETE SET NULL;


--
-- Name: class_routines class_routines_semester_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.class_routines
    ADD CONSTRAINT class_routines_semester_subject_id_fkey FOREIGN KEY (semester_subject_id) REFERENCES public.semester_subjects(id) ON DELETE CASCADE;


--
-- Name: class_routines class_routines_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.class_routines
    ADD CONSTRAINT class_routines_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.teachers(id) ON DELETE SET NULL;


--
-- Name: classes classes_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE SET NULL;


--
-- Name: classes classes_semester_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_semester_id_fkey FOREIGN KEY (semester_id) REFERENCES public.semesters(id) ON DELETE CASCADE;


--
-- Name: classes classes_shift_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_shift_id_fkey FOREIGN KEY (shift_id) REFERENCES public.shifts(id) ON DELETE SET NULL;


--
-- Name: periods periods_shift_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.periods
    ADD CONSTRAINT periods_shift_id_fkey FOREIGN KEY (shift_id) REFERENCES public.shifts(id) ON DELETE CASCADE;


--
-- Name: programmes programmes_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.programmes
    ADD CONSTRAINT programmes_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE CASCADE;


--
-- Name: push_subscriptions push_subscriptions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.push_subscriptions
    ADD CONSTRAINT push_subscriptions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: semester_subjects semester_subjects_semester_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.semester_subjects
    ADD CONSTRAINT semester_subjects_semester_id_fkey FOREIGN KEY (semester_id) REFERENCES public.semesters(id) ON DELETE CASCADE;


--
-- Name: semester_subjects semester_subjects_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.semester_subjects
    ADD CONSTRAINT semester_subjects_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subjects(id) ON DELETE CASCADE;


--
-- Name: semesters semesters_programme_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.semesters
    ADD CONSTRAINT semesters_programme_id_fkey FOREIGN KEY (programme_id) REFERENCES public.programmes(id) ON DELETE CASCADE;


--
-- Name: subjects subjects_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE SET NULL;


--
-- Name: teacher_effective_loads teacher_effective_loads_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.teacher_effective_loads
    ADD CONSTRAINT teacher_effective_loads_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.teachers(id) ON DELETE CASCADE;


--
-- Name: teacher_subjects teacher_subjects_subject_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.teacher_subjects
    ADD CONSTRAINT teacher_subjects_subject_id_fkey FOREIGN KEY (subject_id) REFERENCES public.subjects(id) ON DELETE CASCADE;


--
-- Name: teacher_subjects teacher_subjects_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.teacher_subjects
    ADD CONSTRAINT teacher_subjects_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.teachers(id) ON DELETE CASCADE;


--
-- Name: teachers teachers_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: kec_admin
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.departments(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict UBJtT1uQt4wvI4MbsdCCoY8kk4tRSFtqFBslrefSTtMZ5T0Wp973fX4r8tpRDyA

--
-- Database "postgres" dump
--

\connect postgres

--
-- PostgreSQL database dump
--

\restrict GDdzonvaJAmpSMCEqx7hAG6bKSpVPCnBabD1GeSFu8HY0X9q24AXtEAEUTjiZsr

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict GDdzonvaJAmpSMCEqx7hAG6bKSpVPCnBabD1GeSFu8HY0X9q24AXtEAEUTjiZsr

--
-- PostgreSQL database cluster dump complete
--

